body {
    font-family: 'Poppins', sans-serif; /* Aplicar Poppins a todo el cuerpo */
    background-color: whitesmoke;
}

.navbar-custom {
    background-color: #c9dfff; /* Aplicar el color azul cielo */
}

.small-text {
    font-size: 1rem;
}

.brand-with-image {
    margin-left: 8px;
}

.margin {
    margin-bottom: 15px;
}
